@page
@model MovieListRazor.Pages.MovieList.EditModel



<br />
<h2 class="text-info">Edit Movie</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <input type="hidden" asp-for="Movie.Id" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Movie.Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="Movie.Name" class="form-control" />
            </div>
            <span asp-validation-for="Movie.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Movie.Genre"></label>
            </div>
            <div class="col-6">
                <input asp-for="Movie.Genre" class="form-control" />
            </div>
            <span asp-validation-for="Movie.Genre" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Movie.IMDbURL"></label>
            </div>
            <div class="col-6">
                <input asp-for="Movie.IMDbURL" class="form-control" />
            </div>
            <span asp-validation-for="Movie.IMDbURL" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Update" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}